.containerFilterGenres {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-bottom: 16px;
  }
  
  .filterGenresLabel {
    
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    color: white; /* Gris oscuro */
  }
  
  .filterGenresLabel span {
    color: #eaeaea; /* Gris claro */
  }
  
  .filterGenresSelect {
    margin-top: 8px;
    padding: 4px;
    width: 158px;
    border-radius: 4px;
    background-color: #fff;
    color: #212121; /* Gris oscuro */
  }
  
  .filterGenresOption {
    color: #212121; /* Gris oscuro */
  }
  
  .filterGenresSpan {
    display: inline-block;
    margin: 8px;
    
  }
  
  .filterGenresButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 4px 8px;
    border: none;
    background-color: #7cb342; /* Verde claro */
    color: #fff;
    cursor: pointer;
  }
  
  
  .filterGenresButton:hover {
    background-color: #4c762e; /* Verde oscuro */
  }
  