.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #7cb342;
  
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
 
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}



.card img.card-image-small {
  transform: scale(0.9);
}

.cardInformacion {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: red solid 2px;
  height: 100px;
  transition: background-color 0.3s ease-in-out;
}

.card:hover .cardInformacion {
  background-color: rgba(0, 0, 0, 0);
}


.cardH2 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: .6rem;
}

.cardP {
  margin: 8px 0 0;
 
  font-size: 10px;
}
