

.containerForm {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formContainer {
  width: 80%;
  margin: 0 auto;
}

.page {
  width: auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.25rem; 
}

.progressBar {
  width: 100%;
  height: 1.25rem; 
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem; 
}

.progressBar:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #5c9c41;
  animation: progressAnimation 3s ease-in-out infinite;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.form {
 
  margin-top: 2rem;
  width: 80%;
}

.containerLabel {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.label {
  width: 6.25rem; 
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #7cb342;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
  margin: .4rem;
}

.input:hover,
.input:focus {
  border-color: #7cb342;
  outline: none;
}

.error {
  color: red;
  font-size: 0.75rem; 
  margin-left: 0.625rem; 

.optionAllGenres {
  font-weight: bold;
}

.containerInput {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.input[type="submit"] {
  padding: 0.5rem 1rem; 
  background-color: #5c9c41;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.input[type="submit"]:hover {
  background-color: #4a8534;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  border: .5rem solid #7cb342;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.7s;
  margin: .6rem;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 90%;
  }

  .label {
    width: 30%;
  }

  .input,
  .input[type="submit"] {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .formContainer {
    width: 100%;
  }

  .label {
    width: 40%;
  }

  .input,
  .input[type="submit"] {
    width: 60%;
  }
}


.footer {
  width: 100%;
}

.containerSelect {
  display: flex;
  justify-content: center;
  margin: .4rem;
}

.select {

  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.select:hover,
.select:focus {
  border-color: #7cb342;
  outline: none;
}
}