.containerForm {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formContainer {
  width: 80%;
  margin: 0 auto;
}

.page {
  width: auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.25rem; /* 100px */
}

.progressBar {
  width: 100%;
  height: 1.25rem; /* 20px */
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem; /* 10px */
}

.progressBar:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #5c9c41;
  animation: progressAnimation 3s ease-in-out infinite;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: fit-content;
}

.containerLabel {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.label {
  width: 6.25rem; /* 100px */
  font-weight: bold;
}

.input {
  padding: 0.5rem; /* 8px */
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* 4px */
  margin-left: 0.625rem; /* 10px */
  width: 100%;
}

.error {
  color: red;
  font-size: 0.75rem; /* 12px */
  margin-left: 0.625rem; /* 10px */
}

.optionAllGenres {
  font-weight: bold;
}

.containerInput {
  margin-top: 2rem;
}

.input[type="submit"] {
  padding: 0.5rem 1rem; /* 8px 16px */
  background-color: #5c9c41;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.input[type="submit"]:hover {
  background-color: #4a8534;
}

/* Animación para la aparición del formulario */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
  .formContainer {
    width: 90%;
  }

  .label {
    width: 30%;
  }

  .input,
  .input[type="submit"] {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .formContainer {
    width: 100%;
  }

  .label {
    width: 40%;
  }

  .input,
  .input[type="submit"] {
    width: 60%;
  }
}

/* Estilos para el Footer */
.footer {
  width: 100%;
}
