.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  /* Estilos del header */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.progressBar {
  width: 100px;
  height: 10px;
  background-color: #ccc;
  animation: progress 1s linear infinite;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

.card {
  margin-top: 40px;
  width: 600px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game {
  display: flex;
  align-items: center;
  padding: 20px;
}

.detail {
  flex: 1;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.genres,
.platforms,
.rating,
.released,
.description {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.genreList,
.platformList {
  margin-top: 5px;
}

.genre,
.platform {
  margin-bottom: 5px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
