/* Estilos generales */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeDivError {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.search {
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.searchH2 {
}

.bars {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.titles {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 2rem;
}

.items {
  margin-top: 24px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.number {
  margin-top: 40px;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font {
  margin: 0 8px;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.font:hover {
  background-color: lightgray;
}

.pageNumberTop {
  margin-bottom: 16px;
  font-size: 16px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > :last-child {
  margin-bottom: 0;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.5);
  }
  40% {
    transform: scale(1);
  }
}

.gameNotFound {
  max-width: 100%;
  height: auto;
}

.btnImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.btnNotFound {
  margin: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: auto;
}

/* Estilos responsive */

@media (min-width: 768px) {
  .homeContent {
    flex-direction: row;
    align-items: flex-start;
  }

  .sideBar {
    width: 25%;
    margin-right: 16px;
  }

  .filterSection,
  .orderSection {
    width: 100%;
  }

  .filterContainer,
  .orderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mainContent {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .homeContent {
    flex-direction: column;
    align-items: center;
  }

  .sideBar {
    width: 100%;
    margin-bottom: 16px;
  }

  .mainContent {
    width: 100%;
  }

  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}
