/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');



body {
  margin: 0;
  padding: 0;
  background-image: url('../../client/asset/luis-villasmil-ITFwHdPEED0-unsplash.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 

}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-size: cover;
  box-sizing: border-box;
}
