.containerFilterOrigin {
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .filterOriginLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    color: white; /* Gris oscuro */
  }
  
  .filterOriginLabel span {
    color: #eaeaea; /* Gris claro */
  }
  
  .filterOriginSelect {
    width: 158px;
    margin-top: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
    color: #212121; /* Gris oscuro */
  }
  