.header {
    background-image: url('../../../../asset/sigmund-By-tZImt0Ms-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
   
  }
  
  .title {
    font-size: 4rem;
    color: #ffffff;
  
  }
  